<h2 class="text-center text-brown-primary-color">PASSWORD CHANGE</h2>
<div class="alert alert-danger" role="alert" *ngIf="showErrors">{{ errorMessage }}</div>

<form [formGroup]="updateUserPasswordForm">
    <mat-form-field class="w-100">
      <input matInput placeholder="Current password" type="password" formControlName="passwordCurrent">
      <mat-error *ngIf="passwordCurrent.errors?.required && passwordCurrent.touched">This field is required</mat-error>
      <mat-error *ngIf="passwordCurrent.errors?.minlength && passwordCurrent.touched">The password must be at least 6 characters</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input matInput placeholder="New password" type="password" formControlName="password">
      <mat-error *ngIf="password.errors?.required && password.touched">This field is required</mat-error>
      <mat-error *ngIf="password.errors?.minlength && password.touched">The password must be at least 6 characters</mat-error>
    </mat-form-field>
    
    <mat-form-field class="w-100">
      <input matInput placeholder="Confirm new password" type="password" formControlName="passwordConfirm">
      <mat-error *ngIf="passwordConfirm.errors?.required && passwordConfirm.touched">This field is required</mat-error>
      <mat-error *ngIf="passwordConfirm.errors?.minlength && passwordConfirm.touched">The password must be at least 6 characters</mat-error>
      <mat-error *ngIf="passwordConfirm.errors?.misMatch && !passwordConfirm.errors?.required && !passwordConfirm.errors?.minlength">
        Password do not match
      </mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-end align-items-center w-100">
      <button mat-flat-button class="bg-brown-primary-color text-light my-3" (click)="updatePassword()">
        <div class="spinner-border text-light mr-1" role="status" *ngIf="loading"></div>
        Save Password
      </button>
    </div>
</form>